# Web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Validation & config
pydantic==2.8.2
pydantic-settings==2.4.0


# JWT Auth
python-jose[cryptography]==3.3.0

# Database
SQLAlchemy==2.0.34
aiosqlite==0.20.0
asyncpg==0.30.0

# Security / encryption
cryptography==43.0.1

# Computer Vision
opencv-python==4.10.0.84
mediapipe==0.10.14
insightface==0.7.3

# Audio processing
librosa==0.9.2
soundfile==0.12.1
numpy==1.26.4
resemblyzer==0.1.1.dev0
setuptools<81

# Testing
pytest==8.3.2 